*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
body{
    background: linear-gradient(#01012e,#240019);
    /* background-image: url(stars1.png); */
    height: 100vh;
}
section{
    background-image: url(stars-img/stars.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul li{
    list-style-type:none;
    margin: 14px 0;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: darkblue;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    width: 120px;
    transition:  0.5s;
    position: relative;
    z-index: 1;
    /* bach nkhdam z-index khasni ndir position:releative; */
}
ul:hover li a{
    opacity: 0;
}
ul li a:hover{
    transform: scale(1.5);
    background-color: darkmagenta;
    opacity: 1;
    
}
ul li::after{
    content: attr(data-text);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 50px;
}
ul li:hover:after{
    opacity: 0.5;
    transition: 0.5s;
    letter-spacing: 5px;
}
ul li::before{
    content: "";
    width: 180px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,70%);
    background-color: #fff;
    box-shadow: 0 0 80px orangered;
    border-radius: 50%;
    opacity: 0;
    transition: 0.7s;
}
ul li:hover::before{
    width: 100px;
    opacity: 1;
}

/* sun efect */
ul #sun::before{
    content: "";
    width: 180px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,70%);
    background-color: gold;
    box-shadow: 0 0 80px orangered;
    border-radius: 50%;
    opacity: 0;
    transition: 0.7s;
}
ul #sun:hover::before{
    width: 100px;
    opacity: 1;
}